        
- name: clone node {{ item['clone_from'] }} -> {{ item['hostname'] }}
  brightcomputing.bcm92.physical_node:
    hostname: {{ item['hostname'] }}
    cloneFrom: {{ item['clone_from'] }}
    category: {{ item['category'] }}
    
- name: Configuring NICs of node {{ item['hostname'] }}
  brightcomputing.bcm92.physical_node:
    hostname: {{ item['hostname'] }}
{% for nic in item['nics'] %}
{% if nic['device'].startswith('enp') %}
{% if nic['ip'] is defined %}
    interfaces_NetworkPhysicalInterface:
    - name: {{ nic['device'] }}
      ip: {{ nic['ip'] }}
      network: {{ nic['network'] }}
{% else %}
    - name: {{ nic['device'] }}
{% endif %}
{% if nic['device'].startswith('ibp') %}
    - name: {{ nic['device'] }}
      ip: {{ nic['ip'] }}
      network: {{ nic['network']
{% endif %}
{% elif nic['device'].startswith('bond') %}
    interfaces_NetworkBondInterface:
    - name: {{ nic['device'] }}
      ip: {{ nic['ip'] }}
      network: {{ nic['network'] }}
      interfaces: {{ nic['interfaces'] }}
      mode: {{ nic['mode'] }}
      options: {{ nic['options'] }}
{% endif %}
{% endfor %}

- name: Configure provisioning interface of node {{ item['hostname'] }}
  brightcomputing.bcm92.physical_node:
    hostname: {{ item['hostname'] }}
    provisioningInterface: {{ item['provisioninginterface'] }}
      
- name: Remove bootif from node {{ item['hostname'] }} 
  command:
    cmd: "cmsh -c 'device use {{ item['hostname'] }}; interfaces; remove bootif; commit'"
  register: remove_bootif_result
