
- name: creating the {{ item['backup'] }} software image from the {{ item['clone_from'] }} image
  brightcomputing.bcm92.software_image:
    name: {{ item['backup'] }}
    cloneFrom: {{ item['clone_from'] }}
    path: {{ item['path'] }}
    
- name: Wait until initrd.cm.img-{{ item['kernel_release'] }} to be generated
  ansible.builtin.wait_for:
    path: /var/log/cmdaemon
    search_regex: Successfully created ramdisk {{ item['path'] }}/boot/initrd-{{ item['kernel_release'] }}
