        
- name: clone node {{ item['clone_from'] }} -> {{ item['hostname'] }}
  brightcomputing.bcm92.physical_node:
    hostname: {{ item['hostname'] }}
    cloneFrom: {{ item['clone_from'] }}
    category: {{ item['category'] }}
    
- name: Configuring NICs of node {{ item['hostname'] }}
  brightcomputing.bcm92.physical_node:
    hostname: {{ item['hostname'] }}
{% for nic in item['nics'] %}

    {{ nic }}

{% endfor %}
