
- name: register all physical_nodes
  register: all_nodes
  brightcomputing.bcm92.physical_node_info: {}
  
{% for node in ansible_local['custom']['nodes'] %}
{% if node['hostname'] | regex_search('01$') %}
- name: Display node details
  debug:
    msg: 
    - "hostname: {{ node['hostname'] }}"

{% endif %}
{% endfor %}
