    
  - name: install cluster license
    shell: >
      /cm/local/apps/ipmitool/1.8.18/ipmitool  
      -I lanplus 
      -H IP_NUMBER
      -U {{ ansible_local['custom']['ipmiuser'] }}
      -P {{ ansible_local['custom']['ipmipass'] }}
      power on
    args:
      executable: /bin/bash
    register: ipmitool_output
    ignore_errors: true
    
{% for nic in ansible_local['custom']['nodes'][item] %}

{{ nic }}

{% endfor %}
